.wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 !important;

  font-size: 16px !important;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid black;
  border-radius: 5px;

  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container {
  padding: 10px;
}
