@import 'ui/styles/variables';

.container {
  position: relative;
}

.icon {
  &_close {
    position: absolute;
    top: $notification-padding;
    right: $notification-padding;
  }
}

.top,
.buttons,
.main {
  padding: $notification-padding;
}

.top {
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
