@import "ui/styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;

  @include main-shadow()
}
