@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import 'ui/styles/variables';

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  caret-color: transparent;
}

button {
  outline: none;
  border: none;

  background-color: inherit;

  cursor: pointer;
}

.theme {
  &-background {
    &--information {
      background-color: $theme-information-color;
    }

    &--success {
      background-color: $theme-success-color;
    }

    &--error {
      background-color: $theme-error-color;
    }
  }

  &-text {
    &--information {
      color: $theme-information-color;
    }

    &--success {
      color: $theme-success-color;
    }

    &--error {
      color: $theme-error-color;
    }
  }
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.full {
  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-colum {
    flex-direction: column;
  }

  &-align {
    &_start {
      align-items: flex-start;
    }

    &_center {
      align-items: center;
    }
  }

  &-nowrap {
    flex-wrap: nowrap;
  }
}
